.choices {
    width: 400px;
}


/* 
.choices,
.is-focused {
    background-color: #ffffff40;
} */

.choices__inner {
    min-height: 37px;
    padding: 5px 12px 7px 11px;
    color: white;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.is-open .choices__inner {
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    border-radius: 6px;
    z-index: 1;
}

.choices[data-type*=select-one]:focus {
    background-color: rgba(255, 255, 255, 0.2);
    outline: 2px red;
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 9px;
}

.choices__list--dropdown .choices__item--selectable {
    padding-right: 10px;
}

.choices__list {
    color: white;
}

.choices__placeholder {
    opacity: 1;
}

.choices__list--single {
    display: inline-block;
    padding: 5px 0px 3px 4px;
    width: 100%;
}

.is-open .choices__list--dropdown {
    border-radius: 6px;
}

.choices[data-type*=select-one]:after {
    height: 6px;
    width: 6px;
    border-color: transparent transparent #666666 #666666;
    border-width: 1px;
    margin-top: -4px;
    margin-right: 4px;
    transform: rotate(-45deg);
    z-index: 1;
    transition: border-color 0.2s ease-in-out, margin-top 0.2s ease-in-out;
}

.choices[data-type*=select-one].is-open:after {
    margin-top: -3.5px;
    border-color: #ffffff #ffffff transparent transparent;
}

.common-border {
    border: 1px solid #CCB26E;
}

#choices--selectCustom-item-choice-1 {
    display: none;
}

.choices__list--dropdown .choices__item {
    padding: 15px;
}

.choices__list--dropdown {
    margin-top: -1px;
}


/* section gallary */

.gallary {
    padding-top: 73px;
    padding-bottom: 78px;
    background-image: url(../img/gallary/background-birmingham-museums-trust.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gallary__title {
    color: white;
    margin-bottom: 30px;
}

.gallery__content-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    padding: 10px 0px;
}

.gallary__left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 440px;
    margin-right: 40px;
}

.gallary__filter-descr {
    color: white;
    max-width: 325px;
    line-height: 32px;
}

.gallary__filter-link {
    color: var(--violet);
    transition: color .2s ease-in-out;
}

.gallary__filter-link:hover {
    color: var(--hover);
}

.gallary__slider {
    position: relative;
    padding: 0 0 0 10px;
    flex: 1 1 auto;
    min-width: 0;
    margin-top: 80px;
}

.gallary__slider-container {
    overflow: hidden;
}


/* slide */

.swiper-container {
    width: 1150px;
    height: 760px;
}

.gallary-slide {
    width: 300px;
    height: 350px;
}

.gallary__slide-img {
    width: 100%;
}

.choices__list--dropdown {
    background-color: transparent;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: transparent;
}

.gallary__navigations {
    position: relative;
    display: flex;
}


/* next and prev */

.swiper-button-next,
.swiper-button-prev {
    width: 30px;
    height: 30px;
    top: -38px;
    background-color: var(--gray);
    border-radius: 50px;
    border: 2px solid transparent;
    transition: background-color .2s ease-in-out, border .2s ease-in-out;
}

.swiper-button-next {
    left: 113px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: var(--hover);
}

.swiper-button-next:active,
.swiper-button-prev:active {
    border: 2px solid var(--violet);
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
    border: 2px solid var(--violet);
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    left: 11px;
    transform: rotate(45deg);
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    transform: rotate(-135deg);
    right: 11px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}


/* pagination */

.swiper-pagination {
    top: -40px;
}

.swiper-pagination-fraction {
    color: white;
    font-size: 16px;
    left: 56px;
    top: -52px;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    width: auto;
}