.hero {
    background-image: url(../img/hero/hero-slide1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 240px;
    padding-bottom: 120px;
}

.hero__title {
    color: white;
    font-size: 72px;
    margin-bottom: 22px;
    max-width: 580px;
}

.hero__description {
    color: white;
    font-size: 18px;
    font-weight: 600;
    max-width: 560px;
    line-height: 30px;
    margin-bottom: 89px;
}

.hero__btn {
    background-color: var(--violet);
    transition: background-color .2s ease-in-out;
}

.hero__btn:hover {
    background-color: var(--hover);
}